@tailwind base;
@tailwind components;
@tailwind utilities;

.radio-block input[type='radio'] {
  display: none;
}
.radio-block input[type='radio']:checked + label {
  background-color: rgb(74 222 128);
  color: #fff;
}
.radio-block input[type='radio'] + label {
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.2rem 0.4rem;
}

/********************
Loader Animation CSS
********************/

.loader div {
  animation-duration: 0.5s;
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}
